.line{
    background-color: #2c3e50;
    height: 4px;
}
h2{
   
    font-size: 55px;
    color: #2c3e50;
    text-align: center;
   
}
.maim-top{
    top: 40px !important;
}.form-control {
   box-shadow: 0 0 0 .25rem rgba(0, 0, 0, 0);
}
.btn-success{
    background-color: #1abc9c;
}
.btn:hover {
    
    background-color:  #1abc9c;
    border-color:  #1abc9c; 
}
.__top {
    top: 40px !important;
}

