<div class="container py-4 text-center">
    <h2 class="pt-5  mb-3 fs-0 fw-bolder maincolor">portfolio component</h2>
    <div class="lines d-flex align-items-center justify-content-center mb-3  ">
        <div class="line  mx-2 "></div>
        <i class="fa-solid fa-star"></i>
        <div class="line  mx-2"></div>
    </div>




    <div class="container">
        <div class="row g-4 py-3">
            <div class="col-lg-4 col-md-6">
                <div class="port-box position-relative text-center">
                    <div class="img">
                        <img src="./assets/imges/poert1.png" alt="" class="w-100" data-bs-toggle="modal"
                            data-bs-target="#exampleModal1">
                    </div>
                    <div class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
                        data-bs-toggle="modal" data-bs-target="#exampleModal1">
                        <div class="icons">
                            <ul class="d-flex justify-content-center">
                                <li class="circle mx-4">
                                    <i class="fa-solid fa-plus fa-6x"></i>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1"
                        aria-hidden="true">
                        <div class="modal-dialog custom-modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="./assets/imges/poert1.png" alt="" class="img-fluid mx-auto d-block">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="port-box position-relative text-center">
                    <div class="img">
                        <img src="./assets/imges/port2.png" alt="" class="w-100" data-bs-toggle="modal"
                            data-bs-target="#exampleModal2">
                    </div>
                    <div class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
                        data-bs-toggle="modal" data-bs-target="#exampleModal2">
                        <div class="icons">
                            <ul class="d-flex justify-content-center">
                                <li class="circle mx-4">
                                    <i class="fa-solid fa-plus fa-6x"></i>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2"
                        aria-hidden="true">
                        <div class="modal-dialog custom-modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="./assets/imges/port2.png" alt="" class="img-fluid mx-auto d-block">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="port-box position-relative text-center">
                    <div class="img">
                        <img src="./assets/imges/port3.png" alt="" class="w-100" data-bs-toggle="modal"
                            data-bs-target="#exampleModal3">
                    </div>
                    <div class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
                        data-bs-toggle="modal" data-bs-target="#exampleModal3">
                        <div class="icons">
                            <ul class="d-flex justify-content-center">
                                <li class="circle mx-4">
                                    <i class="fa-solid fa-plus fa-6x"></i>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3"
                        aria-hidden="true">
                        <div class="modal-dialog custom-modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="./assets/imges/port3.png" alt="" class="img-fluid mx-auto d-block">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="port-box position-relative text-center">
                    <div class="img">
                        <img src="./assets/imges/poert1.png" alt="" class="w-100" data-bs-toggle="modal"
                            data-bs-target="#exampleModal4">
                    </div>
                    <div class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
                        data-bs-toggle="modal" data-bs-target="#exampleModal4">
                        <div class="icons">
                            <ul class="d-flex justify-content-center">
                                <li class="circle mx-4">
                                    <i class="fa-solid fa-plus fa-6x"></i>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4"
                        aria-hidden="true">
                        <div class="modal-dialog custom-modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="./assets/imges/poert1.png" alt="" class="img-fluid mx-auto d-block">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="port-box position-relative text-center">
                    <div class="img">
                        <img src="./assets/imges/port2.png" alt="" class="w-100" data-bs-toggle="modal"
                            data-bs-target="#exampleModal5">
                    </div>
                    <div class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
                        data-bs-toggle="modal" data-bs-target="#exampleModal5">
                        <div class="icons">
                            <ul class="d-flex justify-content-center">
                                <li class="circle mx-4">
                                    <i class="fa-solid fa-plus fa-6x"></i>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel5"
                        aria-hidden="true">
                        <div class="modal-dialog custom-modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="./assets/imges/port2.png" alt="" class="img-fluid mx-auto d-block">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="port-box position-relative text-center">
                    <div class="img">
                        <img src="./assets/imges/port3.png" alt="" class="w-100" data-bs-toggle="modal"
                            data-bs-target="#exampleModal6">
                    </div>
                    <div class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
                        data-bs-toggle="modal" data-bs-target="#exampleModal6">
                        <div class="icons">
                            <ul class="d-flex justify-content-center">
                                <li class="circle mx-4">
                                    <i class="fa-solid fa-plus fa-6x"></i>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel6"
                        aria-hidden="true">
                        <div class="modal-dialog custom-modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="./assets/imges/port3.png" alt="" class="img-fluid mx-auto d-block">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>