/* section{
background-color: #1ABC9C;
color: white;


} */
/* h2{
    font-size: 45px;
} */
/* .line{
height:3px;
width: 100px;
background-color: white;
} */
/* footer{
    background-color: #2C3E50;
    color: white;
    padding: 40px;
}
h3{
    font-size: 25px;
}
.col-md-4 i{
    font-size: 20px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 50%;
}
.f{
    max-width: 385px;
} */
