<section class="py-5">
    <div class="container text-white text-center  py-4">
        <img src="./assets/imges/avataaars.svg" alt="" class="w-25 pt-5 pb-3">
        <h2>start Framework</h2>
        <div class="lines d-flex align-items-center justify-content-center mb-3 ">
            <div class="line mx-2"></div>
            <i class="fa-solid fa-star"></i>
            <div class="line  mx-2"></div>
        </div>
        <p>Graphic Artist - Web Designer - Illustrator</p>
    </div>
   
</section>

